body {
margin: 0;


}
.image-grid {

    --gap: 16px;
    --num-cols: 4;
    --row-hiehgt: 300px

    box-sizong:border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

        }
        .image-grid > img{
            width 100%;
            height 100%;
            object-fir: cover;
        }
        
        .image-grid-col-2{
            grid-column: span2;

        }

        .image-grid-row-2{
            grid-row: span2;
        }
        

        @media screen and (max-width: 1024px){
            .image-grid {
                --num-cols:2;
                --row-height: 200px;
            }
        }