
h1 {
  font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    color: rgb(247, 245, 245);
    font-size: 128px;
    text-align: center;
  }
p{
    font-weight: bold;
    color: rgb(247, 245, 245);
    font-size: 32px;
    text-align: center;
}
p2{
  font-weight: bold;
  color: rgb(247, 245, 245);
  font-size: 32px;
  text-align: center;
}